@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
aside
{
    position: absolute;
    background-color: rgb(186, 186, 186);
    height: 125%;
    width: 20%;
}
.left
{
    left: 0%;
    border-right: 2px solid grey;
    z-index: 3;
}
.right
{
    right: 0%;
    border-left: 2px solid grey;
}
.list
{
    position: absolute;
    color: black;
    font-family: 'Playfair Display', serif;
    border-top: 3px solid black;
    list-style: none;
    margin-left: 38%;
    padding-top: 3%;
    font-size: 90%;
}
.inline
{
    position: absolute;
    margin-left: 38%;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 120%;
    background-color: white;
    z-index: 1;
    padding: 0.5%; 

}
.box1 
{
    position: absolute; 
    height: 15%;
    width: 46%;
    background-color: black;
    color: white;
    z-index: 0;
    text-align: center;
    right: 20%;
}
.box1 h2
{
    font-family: 'Cinzel', serif;
    font-size: 200%;
    position: absolute;
    top:5%;
    left: 28%;
}
.Vline
{
    position: absolute;
    height: 125%;
    width: 15%;
    border-right: 3px solid black;
    background-color: white;
    z-index: 1;
    right: 64.5%;
    
}
.sidebox
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(88, 88, 88);
    z-index: 2;
    right: 5%;
}
.ProfilePic
{
    position: absolute;
    top: 5%;
    height: 16%;
    width:60%;
    margin-left:25%;
    border-radius: 50%;
    margin-top: 40px;
}
.info
{
    position: absolute;
    top: 32%;
    color: white;
    width: 100%;
}
.info li
{
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}
.info i
{
    padding-right: 5%; 
    
}
.info span
{
    background-color: red; /* stör mig på placeringen av texten*/
}
.profile .inline
{
    margin-top: 9%;
    margin-left: 38%;
}
.profile p
{  
    margin-left: 40%;
    margin-top: 10.5%;
    padding-top: 2%;
}
.education h1
{
    margin-top: 25%; 
}
.education .list
{
    width: 30%;
    top: 55%;
    padding-right: 4.7%;
}
.work h1
{
    top: 85%;
}
.work .list
{
    top: 88.4%;
    width: 35%;
}


